<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Hello World</title>
 
</head>
<body>
    <p>
        hello from the frontend
  </p>
<p> 
 <ul>
  <% data.forEach(function(country) { %>
    <li><%= country %></li>
  <% }) %>
</ul>

</p>

</body>
<style>
    body {
        background-color: #f8f9fa;
        color: #343a40;
        font-family: Arial, sans-serif;
    }
</style>
</html>